<p>signin works!</p>


<div ng-app=""></div>

<div class="container">

   



    <div class="signin" id="signin" ng-app="" >

    <h1>Sign In</h1>
    <br>
    <div class="row">

    <div class="col-sm-2 item"><input type="text" name="Username" id="Username" required placeholder="Username"></div>

    <div class="col-sm-2 item"><input type="text" name="Password" id="Password" required placeholder="Password"></div>

    <div class="col-sm-1 item"><button >Sign In</button></div>

    <div class="col-sm-4 item"><a routerLink="signup">Don't have an account? Sign Up!</a></div>

    </div>

    </div>

</div>       
