<p>signup works!</p>


<div ng-app=""></div>

<div class="container">

   



    <div class="signup" id="signup">

        <h1>Sign Up</h1>
        <br>
        <div class="row">
    
        <div class="col-sm-2 item"><input type="text" onChange={handlechange} name="Username" required placeholder="Username"></div>
    
        <div class="col-sm-2 item"><input type="text" onChange={handlechange} name="Password" required placeholder="Password"></div>
    
        <div class="col-sm-1 item"><button onClick={handleclick1}>Sign Up</button></div>
    
        <div class="col-sm-4 item"><a routerLink="">Have an account? Sign In!</a></div>
    
        </div>
    
    </div>



    
    


</div>       
